body {
    background-image: url("https://media.sproutsocial.com/uploads/2017/10/Facebook-Live-Tips.png");
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
